page-menu {
   
}
#button1 {
    background-color: #1c6ba0;
    font-size: 20px;
}

#button2 {
    background-color: #76B6C4;
    font-size: 20px;
}

#button3 {
    background-color: #7FCDFF;
    font-size: 20px;
}

#button4 {
    background-color: rgb(115, 117, 117);
    font-size: 20px;
}
.myButton {
    height: 25%;
}
